- content_for :title, "Events"

%h1 Come See Us.

%table{:class => "table"}
  %tr
    %th Name
    %th Date
    
  - @events.each do |event|
    %tr
      %td= event.name
      %td= event.date
    %tr
      %td{colspan:2, style:'border-top:none; padding-top:none;'}
        = "- " 
        %a= event.location
        
      

%br

